@font-face {
  font-family: "Cairo";
  src: url("assets/Cairo.ttf") format("truetype");
}
* {
  font-family: "Cairo", sans-serif;
}
body {
  background: linear-gradient(
    0deg,
    #0f0052 0%,
    #010011 100%
  );

  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

nav {
  top: 0%;
  width: 100%;
  position: fixed;
  background-color: #010011;
  border-radius: 0 0 10px 10px;
}
.container {
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  display: inline-block;
}
.container ul li a:hover {
  padding: 12px;
  color: #ffde3a;
  border-bottom: 2px solid #ffffff;
}
.container ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.active {
  border-bottom: 2px solid #d0d7d9;
}

.item {
  width: 100%;
  padding: 50px;
  height: 100%;
  text-align: center;
}
.first {
  margin-top: 10px;
}
.default {
  margin-top: 10px;
}
.col-full {
  width: 1044px;
}
.maincontainer {
  margin: 100px;
}
.ccards {
  margin-top: 150px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
.ccard {
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 600px;
  max-width: 400px;
  border-style: solid;
  /* background-color: #ffffff44; */
  background-color: #010011;
  border-radius: 10px;
}
.ccontent {
  width: 80%;
  margin: auto;
}
.cdescription {
  width: 90%;
  margin: auto;
}
.cmore {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #00000000;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cmore:before {
  content: "";
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0f0052;
  opacity: 0.9;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.cmore:hover,
.cmore:focus,
.cmore:active {
  color: white;
}
.cmore:hover:before,
.cmore:focus:before,
.cmore:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.jButton {
  height: 40px;
  width: 120px;
  font-family: "Cairo", sans-serif;
  margin-bottom: 10px;
  background-color: #ffde3a;
  color: black;
  border-radius: 10px;
  border-color: #ffde3a;
  font-size: 15px;
}